<div class="page">
  <div>
    <p id="time" style="display: none;">남은 시간 : 10초</p>
    <p id="score" style="display: none;">점수 : 5점</p>
  </div>
  <h1 id="wordText">문제 단어</h1>
  <div >
    <input id="input" placeholder="제한시간 내에 입력해주세요." disabled></input>
  </div>
  <div class="button">
    <button id="startButton">시작</button>
  </div>
</div>
